section .row {
  display: flex;
}

section .about-left,
section .about-right {
  width: 50%;
}

section .about-left img {
  width: 100%;
}

header,
main {
  background-color: #FBFBFB;
}

section .about-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
}

section .about-right time {
  margin-bottom: 4px;
}

section .about-right ul {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

section .about-right h2 {
  font-size: 24px;
  color: #0027D5;
  margin-right: 4px;
}

section .about-right p {
  display: block;
  padding: 6px 12px;
  border-radius: 40px;
  background-color: #0027D5;
  color: #fff;
  font-weight: 700;
}

section .about-right h1 {
  font-weight: 700;
  font-size: 28px;
}

article {
  padding: 80px 0px;
  max-width: 636px;
  margin: 0 auto;
}

article .preface {
  margin-bottom: 48px;
}

article .preface h2 {
  font-size: 28px;
  font-weight: 700;
  color: #0027D5;
}

article .bigTitle {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 24px;
  color: #0027D5;
}

article .littleTitle {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 12px;
}

.blogText .nodule {
  background-color: #EDEDED;
}

.blogText .nodule p {
  padding: 24px;
  font-weight: 700;
}