* {
  font-family: 'Noto Sans TC';
  line-height: 1.5;
  font-weight: 500;
}

/* ==== 導覽列 ==== */
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav a {
  padding: 24px 0px;
  font-weight: 700;
  font-size: 28px;
  color: #000;
}

header nav a:hover {
  color: #0027D5;
}


/* ==== 底部標籤 ==== */
.text-container {
  text-align: center;
  padding: 24px 0px;
  color: #000;
}