* {
  font-family: "Noto Sans TC", sans-serif;
  color: #000000;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  /* letter-spacing: 0%; */
}

.wrap {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 16px;
  background-color: #FBFBFB;
}

/* 通用間距工具 */

.py-24 {
  padding: 24px 0px;
}

.mr-40 {
  margin-right: 40px;
}

.border-6C757D {
  border-bottom: 1px solid #6C757D;
}

/* 導覽列 */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 28px;
}

/* 職涯諮詢成功案例 */
.success-section {
  padding: 80px 0px;
}

.success-section .container {
  max-width: 1296px;
  margin: 0 auto;

}

.section-title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 24px;
}

.case-hero {
  position: relative;
  margin-bottom: 40px;
}

.hero-img {
  background-color: #EDEDED;
  padding: 24px;
  height: 578px;
  width: 697px;
}

.hero-text-card {
  position: absolute;
  top: 29px;
  right: 219px;
  font-weight: 700;
  background-color: #fff;
  width: 526px;
  padding: 80px 40px;
}

.link {
  width: 30px;
  height: 2.5px;
  background-color: #0027D5;
  margin-bottom: 24px;
}

.hero-text-card p,
.hero-cta-card p {
  line-height: 150%;
}

.hero-text-card span {
  color: #0027D5;
}

.hero-cta-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 0px;
  bottom: 29px;
  font-weight: 700;
  background-color: #F5F5F5;
  width: 526px;
  padding: 80px 40px;
}

.hero-cta-card p {
  margin-bottom: 24px;
}

.hero-cta-card .btn-primary {
  display: block;
  min-width: 128px;
  max-width: 130px;
  min-height: 40px;
  padding: 8px 16px;
  border-radius: 40px;
  border: 1px solid #0027D5;
  background-color: #FFFFFF;
  color: #0027D5;
  font-size: 16px;
  cursor: pointer;
  gap: 8px;
}

/* 訂閱電子報 */
.eNew {
  display: flex;
  flex-wrap: wrap;
}

.leftEnews,
.rigthEnews {
  width: 50%;
  height: 834px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.leftEnews {
  background-image: url('../image/Enews/photo9.png');
}

.rigthEnews {
  background-image: url('../image/frontPage/HeroSection2.png');
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.formBox {
  background-color: #fff;
  position: absolute;
  padding: 80px;
  max-width: 800px;
  height: 490px;
  width: 100%;
}

.formBox h2 {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 16px;
  background-color: #fff;
}

.formBox p {
  font-size: 20px;
  margin-bottom: 24px;
  background-color: #fff;
}

.formBox span {
  color: #0027D5;

}

.formBox form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.formBox form input {
  background-color: #F1F1F1;
  font-size: 20px;
  color: #4B4B4B;
  padding: 8px 444px 8px 16px;
  border: none;
  outline: none;
  margin-bottom: 24px;
}

.formBox form button {
  min-width: 96px;
  max-width: 102px;
  min-height: 40px;
  padding: 8px 16px;
  border-radius: 40px;
  border: 1px solid #0027D5;
  background-color: transparent;
  color: #0027D5;
  font-size: 16px;
  cursor: pointer;
  gap: 8px;
}

/* 與我聯繫區塊 */
.sectionCallMe .container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 16px;
}

.row {
  margin: 80px 0px;
}

.callMe {
  margin-bottom: 24px;
}

.callMe h2 {
  font-weight: 700;
  font-size: 64px;
}

.a-underline {
  text-decoration: underline;
}

.contact-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  border-bottom: 1px solid #000;
  padding: 16px 0px;
}

.contact-link span {
  display: flex;
  align-items: center;
  gap: 8px;
}


.contact-link i {
  font-size: 24px;
}

/* Footer */
footer p {
  text-align: center;
  background-color: #fff;
}