* {
  font-family: 'Noto Sans TC';
  line-height: 1.5;
}

/* 導覽列 */
header {
  padding: 24px 0px;
  border-bottom: 1px solid #6C757D;
}

.navbar-container a {
  font-weight: 700px;
  color: #000;
  font-size: 28px;
}

main .blog-border {
  border-top: 1px solid #6C757D;
  border-bottom: 1px solid #6C757D;
}

.text-container {
  background-color: #fff;
  padding: 24px 0px;
  text-align: center;
}

@media (max-width: 767px) {}

@media (max-width: 375px) {}