* {
  font-family: "Noto Sans TC", sans-serif;
  color: #000000;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
}

.wrap {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 16px;
  background-color: #FBFBFB;
}

/* 通用間距工具 */

ol {
  list-style: none;
  counter-reset: item;
}

ol>li {
  counter-increment: item;
}

ol>li::before {
  content: counter(item) ". ";
}

.blueColor {
  color: #0027D5;
}

.mx-4 {
  margin: 0px 4px;
}

.my-4 {
  margin: 4px 0px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-8{
  margin-right: 8px;
}

.ml-12 {
  margin-left: 12px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-24 {
  margin-bottom: 24px;
}

.py-24 {
  padding: 24px 0px;
}

.p-20 {
  padding: 20px;
}

.mr-40 {
  margin-right: 40px;
}

.border-6C757D {
  border-bottom: 1px solid #6C757D;
}

/* 導覽列 */
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 28px;
}

nav a {
  display: block;

}

/* Footer */
footer p {
  text-align: center;
  background-color: #fff;
}