/* === 基本設定 === */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC';
  font-weight: 500;
  line-height: 1.5;
  background-color: #FBFBFB;
}

ol, ul {
  padding-left: 24px;
  margin: 0;
}

ul li::marker {
  font-size: 10px;
}

img {
  display: block;
}

/* === Flex 排版與對齊 === */
.flex { display: flex; }
.flex--center-x { justify-content: center; }
.flex--space-between { justify-content: space-between; }
.flex--center-y { align-items: center; }
.flex--center { display: flex; justify-content: center; align-items: center; }
.flex--column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 內距 Padding */
/* 右 */
.pr-20 { padding-right: 20px; }
/* 左 */
.pl-20 { padding-left: 20px; }


/* === 背景色設定 === */
.bg--white { background-color: #fff; }
.bg--light { background-color: #FBFBFB; }
.bg--gray  { background-color: #EDEDED; }
.bg--blue  { background-color: #0027D5; }

/* === 邊框設定 === */
.border--bottom-gray { border-bottom: 1px solid #6C757D; }
.border--bottom-dark { border-bottom: 1px solid #4B4B4B; }
.border--bottom-blue { border-bottom: 1px solid #0027D5; }

/* === 圓角設定 === */
.radius--24 { border-radius: 24px; }
.radius--40 { border-radius: 40px; }

/* === 圖片設定 === */
.img--full-width { width: 100%; }

/* === 連結底線 === */
.link--underline {
  text-decoration: underline;
}

/* === ol / ul 自訂樣式關閉 === */
.list--unstyled {
  padding: 0;
  list-style: none;
}

/* === 高度與寬度設定 === */
.max-height--640 { max-height: 640px; }
.width--50 { width: 50%; }

/* === 容器設定 === */
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 24px;
}

/* === 響應式設定 === */
@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
}

@media (max-width: 375px) {
  .container {
    padding: 0 12px;
  }
}