$primary-color: #0027D5;
$secondary-color: #6C757D;
$gray-bg: #FBFBFB;
$gray-box: #EDEDED;
$font-main: 'Noto Sans TC', sans-serif;

$font-title: 28px;
$font-subtitle: 24px;
$font-text: 16px;
$font-weight-medium: 500;
$font-weight-bold: 700;

.mr-24 {
  margin-right: 24px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mx-40 {
  margin-top: 40;
  margin-bottom: 40px;
}

.blogHitTitle {
  .row {
    display: flex;
    align-items: stretch;
  }

  .col-left,
  .col-right {
    width: 50%;
  }

  .col-right {
    display: flex;
    align-items: center;
    background-image: url("/image/index/HeroSection2.png");
    color: $primary-color;

    .hitTitleText {
      margin-left: 80px;
    }

    h1 {
      font-weight: 900;
      font-size: 120px;
      margin-top: 0;
      margin-bottom: 12px;
    }

    p {
      font-weight: 700;
      font-size: 28px;
    }
  }
}

.newArticle {
  .content-Text {
    margin-top: 8px;
    margin-bottom: 16px;
    // 限定字行設定
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

  }
}

.next-Content-Btn {
  a {
    border-radius: 40px;
    border: 1px solid #000;
    color: #4B4B4B;
    padding: 8px 16px;
  }
}

.main-content {
  max-width: 1296px;
  margin: 0 auto;

  .row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 80px 0;
  }

  .searchBox {
    display: flex;
    padding: 16px 48px 16px 16px;
    border-radius: 40px;
    border: 1px solid #4B4B4B;

    i {
      margin-right: 10px;
    }

    .search_input {
      border: 0px;
      background-color: #FBFBFB;

      &:focus {
        outline: none;
      }
    }
  }

  .article-list {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;

  }

  .article-item {
    max-width: 416px;

    img {
      display: block;
      width: 100%;
      margin-bottom: 16px;
    }

    .textBox {
      time {
        margin-bottom: 4px;
      }

      .tagBox {
        display: flex;

        .hotTag {
          margin-left: 8px;
          padding: 6px 12px;
          color: #fff;
          border-radius: 40px;
          background-color: $primary-color;
          font-weight: 700;
        }

      }

      .tag-list {
        font-size: 24px;
        color: $primary-color;
      }

      h3 {
        font-weight: 700;
        font-size: 28px;
        color: #000;
        margin-bottom: 8px;
      }

      .txt {
        color: #4B4B4B;
        margin-bottom: 16px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }
  }

  .blog_pages {
    margin: 0 auto;
  }

  .blog_pages_list {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 40px;

    .active {
      color: $primary-color;
    }

    li {
      margin: 8px 0;
    }

    a {
      display: block;
      text-align: center;
      width: 40px;
      color: #4B4B4B;
      margin: 8px 0;
    }

  }
}