$primary-color: #0027D5;
$secondary-color: #6C757D;
$gray-bg: #FBFBFB;
$gray-box: #EDEDED;
$font-main: 'Noto Sans TC', sans-serif;

$font-title: 28px;
$font-subtitle: 24px;
$font-text: 16px;
$font-weight-medium: 500;
$font-weight-bold: 700;

* {
  font-family: $font-main;
  line-height: 1.5;
  font-weight: $font-weight-medium;
  box-sizing: border-box;
}

body {
  // background-color: $gray-bg;
  background-color: $secondary-color;
}

/* ==== 導覽列 ==== */
header nav {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    padding: 24px 0;
    font-weight: $font-weight-bold;
    font-size: $font-title;
    color: #000;

    &:hover {
      color: $primary-color;
    }
  }

  .mr-20 {
    margin-right: 20px;
  }

  .ml-20 {
    margin-left: 20px;
  }
}

/* ==== 底部標籤 ==== */
.text-container {
  text-align: center;
  padding: 24px 0px;
  color: #000;
  background-color: #fff;
}

h1,
h2,
h3 {
  font-weight: $font-weight-bold;
}

h2 {
  font-size: 64px;
  color: #000;
  margin-bottom: 24px;
}

h3 {
  font-size: 20px;
  margin-bottom: 12px;
}

img {
  display: block;
  width: 100%;
}

// 通用
.services-section {
  .container {
    max-width: 1296px;
    margin: 0 auto;
  }

  .row {}
}

.row {
  display: flex;

  .col-left,
  .col-right {
    width: 50%;
  }
}


.border-b-secondary {
  border-bottom: 1px solid $secondary-color;
}

// 關於我們

.aboutMe {

  .row {
    display: flex;
    align-items: stretch;
  }

  .col-right {
    display: flex;
    align-items: center;
    background-image: url("../image/index/HeroSection2.png");
    color: $primary-color;

    .hitTitleText {
      margin-left: 80px;
    }

    h1 {
      font-weight: 900;
      font-size: 120px;
      margin-top: 0;
      margin-bottom: 12px;
    }

    p {
      font-weight: 700;
      font-size: 28px;
    }
  }
}

.aboutMe-col-bottom {
  margin-left: auto;
  margin-right: 80px;
  width: 55%;
  padding: 80px 40px;
  background-color: #fff;

  p {
    margin-bottom: 16px;
  }

  .aboutMe-link-list {
    display: flex;
  }

}

// 專業服務與方案 service-plans

// 部落格精選 blog-featured

// 職涯諮詢成功案例 career-success

// 訂閱電子報 newsletter-signup

.newsletter-signup {
  .col-right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../image/index/HeroSection2.png");
    color: $primary-color;

    .newsletter-box {
      width: 80%;
      padding: 80px;
      background-color: #fff;
    }
  }

  h2 {
    font-size: 64px;
    margin-bottom: 16px;
  }

  p {
    color: #000;
    margin-bottom: 24px;
  }

  span {
    color: $primary-color;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;

    input {
      margin-bottom: 8px;
      width: 90%;
      padding: 8px 16px;
      background-color: #F1F1F1;
      color: #4B4B4B;
      border: none;
    }

    button {
      margin-top: 16px;
      display: inline-flex;
      border-radius: 40px;
      padding: 8px 16px;
      border: 1px solid $primary-color;
      background-color: #fff;
      color: $primary-color;
    }
  }
}

// 與我聯繫 contact-section
.contact-section {
  .row {
    flex-direction: column;
  }

  .callMe-item {
    display: flex;
    justify-content: space-between;

    a {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      color: #000;
    }

  }
}