@charset "UTF-8";
* {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  font-weight: 500;
  box-sizing: border-box;
}

body {
  background-color: #FBFBFB;
}

/* ==== 導覽列 ==== */
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav a {
  padding: 24px 0;
  font-weight: 700;
  font-size: 28px;
  color: #000;
}
header nav a:hover {
  color: #0027D5;
}
header nav .mr-20 {
  margin-right: 20px;
}
header nav .ml-20 {
  margin-left: 20px;
}

/* ==== 文章內容修改 ==== */
h1, h2, h3 {
  font-weight: 700;
}

h1 {
  margin-top: 8px;
  font-size: 28px;
}

h2 {
  font-size: 28px;
  color: #0027D5;
  margin: 24px 0;
}

h3 {
  font-size: 20px;
  margin-bottom: 12px;
}

img {
  display: block;
  width: 100%;
}

main {
  /* ==== 聯絡我們 ==== */
}
main .ml-4 {
  margin-left: 4px;
}
main .mr-4 {
  margin-right: 4px;
}
main .mb-8 {
  margin-bottom: 8px;
}
main .justified-text {
  text-align: justify;
}
main .border-color {
  border-bottom: 1px solid #6C757D;
}
main .newArticle {
  border-top: 1px solid #6C757D;
  border-bottom: 1px solid #6C757D;
}
main .newArticle .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .newArticle .row .col-left {
  width: 50%;
  margin-right: 12px;
}
main .newArticle .row .col-right {
  width: 50%;
  margin-left: 12px;
}
main .newArticle .row .col-right time {
  display: block;
  margin-bottom: 4px;
}
main .newArticle .row .col-right .meta-group {
  display: flex;
  align-items: center;
}
main .newArticle .row .col-right .meta-group .blue-text {
  font-size: 24px;
  color: #0027D5;
  margin-right: 8px;
}
main .newArticle .row .col-right .meta-group .blue-btn {
  padding: 6px 12px;
  color: #fff;
  background-color: #0027D5;
  border-radius: 40px;
  font-weight: 700;
}
main .blog-border {
  max-width: 636px;
  margin: 0 auto;
}
main .blog-border .container {
  margin: 80px 0;
}
main .blog-border .container .col-preface {
  margin-bottom: 48px;
}
main .blog-border .container .col-preface h2 {
  margin-top: 0;
}
main .blog-border .container .col-articleContent {
  margin-bottom: 48px;
}
main .blog-border .container .col-articleContent .col-littleHiTag {
  margin-bottom: 24px;
}
main .blog-border .container .col-articleContent .col-littleHiTag .custom-list-num {
  list-style-type: decimal;
  padding-left: 24px;
}
main .blog-border .container .col-articleContent .col-littleHiTag .custom-list-disc {
  list-style-type: disc;
  padding-left: 24px;
}
main .blog-border .container .col-articleContent .col-littleHiTag .custom-list-disc a {
  color: #000;
}
main .blog-border .container .col-articleContent .col-littleHiTag .custom-list-disc a:hover {
  color: #0027D5;
}
main .blog-border .container .col-articleContent .col-littleHiTag span {
  color: #0027D5;
  padding: 0 4px;
}
main .blog-border .container .col-articleContent .col-summary {
  font-weight: 700;
  padding: 24px;
  border-radius: 24px;
  background-color: #EDEDED;
}
main .blog-border .container .col-articleContent .callMeTag {
  text-decoration: underline;
  color: #0027D5;
}
main .postLink .row {
  display: flex;
  justify-content: space-between;
}
main .postLink .row li a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px 16px;
  border: 1px solid #000000;
  border-radius: 40px;
}
main .postLink .row li p {
  color: #4B4B4B;
}
main .postLink .row li i {
  font-size: 24px;
}
main .callMe .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 80px 0;
}
main .callMe .row .col-left {
  font-size: 32px;
}
main .callMe .row .col-right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .callMe a {
  color: #4B4B4B;
}
main .callMe a:hover {
  color: #0027D5;
}

/* ==== 底部標籤 ==== */
.text-container {
  text-align: center;
  padding: 24px 0px;
  color: #000;
  background-color: #fff;
}

@media (max-width: 768px) {
  img {
    display: block;
    width: 100%;
  }
  main .newArticle {
    border-top: 0px solid #6C757D;
  }
  main .newArticle .row {
    flex-direction: column;
    padding: 0 12px;
  }
  main .newArticle .row .col-left {
    width: 100%;
    margin-right: 0;
  }
  main .newArticle .row .col-right {
    width: 100%;
    padding: 0 12px;
    margin: 48px 0px;
  }
  main .callMe {
    display: none;
  }
}
@media (max-width: 375px) {
  main .blog-article .blog-border .container {
    margin: 64px 0;
  }
  main .blog-article .blog-border .container .col-preface {
    margin-bottom: 48px;
  }
}/*# sourceMappingURL=blog_Detail.css.map */